doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Zooom
    body 
        header
            h1 SocketIO
        main 
            nav 
            article#nickname
                form
                    input(type="text", placeholder="Enter Nickname")
                    button Enter
            article#new
                form
                    input(type="text", placeholder="Create newRoom")
                    button Create
            article#search
                form 
                    input(type="text", placeholder="Search with Room Name")
                    button Search
                h3 Room List
                ul
            article#room 
                h3 
                button#leave Leave
                ul 
                form
                    input(type="text", required=true, placeholder="Write Message...")
                    button Submit
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")